// miscellaneous stylings 
// width styles
.w-10{
  width: 10%;
}
.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.w-50{
  width: 50%;
}
.w-60{
  width: 60%;
}
.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-90{
  width: 90%;
}
.w-100{
  width: 100%;
}


.minW-10{
  min-width: 10%;
}
.minW-20{
  min-width: 20%;
}
.minW-30{
  min-width: 30%;
}
.minW-40{
  min-width: 40%;
}
.minW-50{
  min-width: 50%;
}
.minW-60{
  min-width: 60%;
}
.minW-70{
  min-width: 70%;
}
.minW-80{
  min-width: 80%;
}
.minW-90{
  min-width: 90%;
}
.minW-100{
  min-width: 100%;
}



.w-50p{
  width: 50px;
}
.w-100p{
  width: 100px;
}
.w-110p{
  width: 110px;
}
.w-120p{
  width: 120px;
}
.w-130p{
  width: 130px;
}
.w-140p{
  width: 140px;
}
.w-150p{
  width: 150px;
}
.w-160p{
  width: 160px;
}
.w-170p{
  width: 170px;
}
.w-180p{
  width: 180px;
}
.w-190p{
  width: 190px;
}
.w-200p{
  width: 200px;
}
.w-250p{
  width: 250px;
}
.w-300p{
  width: 300px;
}
.w-350p{
  width: 350px;
}
.w-400p{
  width: 400px;
}
.w-450p{
  width: 450px;
}
.w-500p{
  width: 500px;
}
.w-550p{
  width: 550px;
}
.w-600p{
  width: 600px;
}
.w-650p{
  width: 650px;
}
.w-700p{
  width: 700px;
}

// min widths 
.minW-50p{
  min-width: 50px;
}
.minW-100p{
  min-width: 100px;
}
.minW-150p{
  min-width: 150px;
}
.minW-200p{
  min-width: 200px;
}
.minW-250p{
  min-width: 250px;
}
.minW-300p{
  min-width: 300px;
}
.minW-350p{
  min-width: 350px;
}
.minW-400p{
  min-width: 400px;
}
.minW-450p{
  min-width: 450px;
}
.minW-500p{
  min-width: 500px;
}
.minW-550p{
  min-width: 550px;
}
.minW-600p{
  min-width: 600px;
}
.minW-650p{
  min-width: 650px;
}
.minW-700p{
  min-width: 700px;
}


// height styles
.h-10p{
  height: 10px;
}
.h-20p{
  height: 20px;
}
.h-30p{
  height: 30px;
}
.h-40p{
  height: 40px;
}
.h-50p{
  height: 50px;
}
.h-60p{
  height: 60px;
}
.h-65p{
  height: 65px;
}
.h-70p{
  height: 70px;
}
.h-75p{
  height: 75px;
}
.h-80p{
  height: 80px;
}
.h-90p{
  height: 90px;
}
.h-100p{
  height: 100px;
}
.h-150p{
  height: 150px;
}
.h-200p{
  height: 200px;
}
.h-250p{
  height: 250px;
}
.h-300p{
  height: 300px;
}
.h-350p{
  height: 350px;
}
.h-400p{
  height: 400px;
}
.h-450p{
  height: 450px;
}
.h-500p{
  height: 500px;
}
.h-550p{
  height: 550px;
}
.h-560p{
  height: 560px;
}
.h-570p{
  height: 570px;
}
.h-580p{
  height: 580px;
}
.h-590p{
  height: 590px;
}
.h-600p{
  height: 600px;
}
.h-650p{
  height: 650px;
}
.h-700p{
  height: 700px;
}


// min height styles
.minH-50p{
  min-height: 50px;
}
.minH-100p{
  min-height: 100px;
}
.minH-150p{
  min-height: 150px;
}
.minH-200p{
  min-height: 200px;
}
.minH-250p{
  min-height: 250px;
}
.minH-300p{
  min-height: 300px;
}
.minH-350p{
  min-height: 350px;
}
.minH-400p{
  min-height: 400px;
}
.minH-450p{
  min-height: 450px;
}
.minH-500p{
  min-height: 500px;
}
.minH-550p{
  min-height: 550px;
}
.minH-600p{
  min-height: 600px;
}
.minH-650p{
  min-height: 650px;
}
.minH-700p{
  min-height: 700px;
}
.minH-750p{
  min-height: 750px;
}
.minH-800p{
  min-height: 800px;
}
.minH-850p{
  min-height: 850px;
}
.minH-900p{
  min-height: 900px;
}


// max height styles
.maxH-50p{
  max-height: 50px;
}
.maxH-100p{
  max-height: 100px;
}
.maxH-150p{
  max-height: 150px;
}
.maxH-200p{
  max-height: 200px;
}
.maxH-250p{
  max-height: 250px;
}
.maxH-300p{
  max-height: 300px;
}
.maxH-350p{
  max-height: 350px;
}
.maxH-400p{
  max-height: 400px;
}
.maxH-450p{
  max-height: 450px;
}
.maxH-500p{
  max-height: 500px;
}
.maxH-550p{
  max-height: 550px;
}
.maxH-600p{
  max-height: 600px;
}
.maxH-650p{
  max-height: 650px;
}
.maxH-700p{
  max-height: 700px;
}
.maxH-750p{
  max-height: 750px;
}
.maxH-800p{
  max-height: 800px;
}
.maxH-850p{
  max-height: 850px;
}
.maxH-900p{
  max-height: 900px;
}
// padding styles


// texts
.fs-100p{
  font-size: 100px;
} 
.fs-90p{
  font-size: 90px;
}
.fs-80p{
  font-size: 80px;
}
.fs-70p{
  font-size: 70px;
}
.fs-60p{
  font-size: 60px;
}
.fs-50p{
  font-size: 50px;
}
.fs-40p{
  font-size: 40px;
}
.fs-30p{
  font-size: 30px;
}
.fs-20p{
  font-size: 20px;
}
.fs-15p{
  font-size: 15px;
}
.fs-14p{
  font-size: 14px;
}
.fs-13p{
  font-size: 13px;
}
.fs-12p{
  font-size: 12px;
}
.fs-11p{
  font-size: 11px;
}
.fs-10p{
  font-size: 10px;
}
.fs-9p{
  font-size: 9px;
}
.fs-8p{
  font-size: 8px;
}
.fs-7p{
  font-size: 7px;
}
.fs-6p{
  font-size: 6px;
}
.fs-5p{
  font-size: 5px;
}

.ff-playfair{
  font-family: 'Playfair Display', serif;
}


.rounded-15p{
  border-radius: 15px;
}

.pt-500p{
  padding-top: 500px;
}
.pt-400p{
  padding-top: 400px;
}
.pt-300p{
  padding-top: 300px;
}
.pt-200p{
  padding-top: 200px;
}
.pt-100p{
  padding-top: 100px;
}

.cursor-disabled{
  cursor: not-allowed;
}

.border-custom{
  border-radius: 20px 0px;
}

.z-index-top{
  z-index: 1000;
}

.top-10p{
  top: 10px;
}
.top-20p{
  top: 20px;
}
.top-30p{
  top: 30px;
}
.top-40p{
  top: 40px;
}
.top-50p{
  top: 50px;
}

.right-10p{
  right: 10px;
}
.right-20p{
  right: 20px;
}
.right-30p{
  right: 30px;
}
.right-40p{
  right: 40px;
}
.right-50p{
  right: 50px;
}

.bottom-10p{
  bottom: 10px;
}
.bottom-20p{
  bottom: 20px;
}
.bottom-30p{
  bottom: 30px;
}
.bottom-40p{
  bottom: 40px;
}
.bottom-50p{
  bottom: 50px;
}

.left-10p{
  left: 10px;
}
.left-20p{
  left: 20px;
}
.left-30p{
  left: 30px;
}
.left-40p{
  left: 40px;
}
.left-50p{
  left: 50px;
}


.text-red{
  color: #D10000;
}
.text-yellow{
  color: #FFEF28;
}
.hover-red:hover{
  color: #D10000;
}
.btn-danger{
  background-color: #D10000;
  border-color: #D10000;
}

.overflow-y{
  overflow-y: auto;
}

.label-arrow:before {
  top: 1px;
  left: 0;
  width: 25px;
  height: 1px;
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 15px;
  background-color: #D10000;
}