.travel_1_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/travel-1-bg.jpg);
  background-size: cover;
  background-position: center;
}

.travel_2_parent{
  width: 100%;
  height: 100vh;
  background-blend-mode: darken;
  background: url(../images/travel-2-bg.jpg);
  background-color: #d10000;
  background-size: cover;
  background-position: center;
}

.fashion_1_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/fashion-1-bg.jpg);
  background-size: cover;
  background-position: center;
}

.fashion_2_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/fashion-2-bg.jpg);
  background-size: cover;
  background-position: center;
}

.lifestyle_1_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/lifestyle-1-bg.jpg);
  background-size: cover;
  background-position: center;
}

.lifestyle_2_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/lifestyle-2-bg.jpg);
  background-size: cover;
  background-position: center;
}

.agency_parent{
  width: 100%;
  height: 100vh;
  background: url(../images/agency-bg.jpg);
  background-size: cover;
  background-position: center;
}